
<div class="menu">
    <div class="row">
        <div class="col-12 col-md-3">
            <button class="btn btn-warning form-control" (click)="reset()">RESET</button>
        </div>
    </div>
    
</div>

<div style="text-align: center">
    <p>{{ modeText }}</p>
</div>

<div class="graphs-svg">
    <svg
    [attr.width]="600"
    [attr.height]="600"
    viewBox="0 0 600 600"
    id="svgGraphsElement"
    (dblclick)="drawNewCircle($event)"
    (mousemove)="onSvgMouseMove($event)"
    (mouseup)="onSvgMouseUp($event)">
        
    <line *ngFor="let line of lines"
    [attr.x1]="line.x1"
    [attr.x2]="line.x2"
    [attr.y1]="line.y1"
    [attr.y2]="line.y2"
    stroke="red"
    stroke-width="2">

    </line>

    <circle
    cx="115"
    cy="115"
    r="15"
    fill="none"
    stroke="black"
    stroke-width="5">
    </circle>

    <polygon
    points="100,110 110,125 90,125"
    fill="black">
    </polygon>

    <circle 
    cx="100"
    cy="100"
    r="15"
    fill="black">
    </circle>

    


    <g *ngFor="let circle of circles">
        <circle 
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.r"
        fill="black"
        (click)="selectCircle($event, circle.id)"
        (mousedown)="onCircleMouseDown($event, circle.id)">
        </circle>

        <circle *ngIf="this.selectedCircle && this.selectedCircle.id === circle.id"
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.r"
        fill="green"
        stroke="aquamarine"
        stroke-width="4"
        (click)="selectCircle($event, circle.id)">
        </circle>

        <!-- <text
        font-size="24"
        fill="white"
        font-family="Arial"
        [attr.x]="circle.cx-7"
        [attr.y]="circle.cy+7">{{ circle.id }}
        </text> -->
    </g>  

    </svg>
</div>