<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink='roomdesigner' class="nav-link">Room design</a>
    </li>
    <li class="nav-item">
      <a routerLink='graphs' class="nav-link">Graphs</a>
    </li>
    <li class="nav-item">
      <a routerLink='sorter' class="nav-link">Sorter</a>
    </li>
    <li class="nav-item">
      <a routerLink='lines' class="nav-link">Lines</a>
    </li>
  </ul>
  
  
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>